@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: #666;
}

body, html {
    overflow-x: hidden; /* Esto asegura que no haya desplazamiento horizontal */
    
}
header {
    display: flex;
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    padding: 1rem 2rem;
    position: relative; /* Para posicionar el switch */
}

/* Contenedor de los enlaces */
header .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Espacio entre los enlaces */
    margin-bottom: 1rem; /* Separación inferior para el botón */
    flex-wrap: wrap; /* Permite que los enlaces se ajusten en varias líneas si es necesario */
}

/* Estilo de los enlaces */
header .nav-links a {
    font-size: 1.2rem; /* Ajuste del tamaño del texto */
    color: #666;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

header .nav-links a:hover,
header .nav-links a.active {
    color: #BE0000;
    border-bottom: 3px solid #BE0000;
}

/* Posición del switch */
header .theme-toggle {
    position: absolute; /* Coloca el switch en la esquina superior derecha */
    top: 1rem;
    right: 1.5rem; /* Ajusta la distancia para pantallas pequeñas */
    display: flex;
    align-items: center;
}
/* Media Query para pantallas pequeñas (tablets) */
@media (max-width: 768px) {
    header {
        padding: 1rem 1.5rem; /* Ajuste del padding */
        flex-direction: column; /* Cambia la disposición para apilar elementos */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    header .nav-links {
        gap: 1rem; /* Reduce el espacio entre enlaces */
        justify-content: center; /* Centra los enlaces */
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    /* Ajustes a los enlaces */
    header .nav-links a {
        font-size: 1.1rem; /* Ajusta el tamaño de los enlaces */
    }

    /* Posición del switch debajo del menú */
    header .theme-toggle {
        position: relative;
        top: 0; /* Hace que el switch esté debajo del menú */
        margin-top: 1rem; /* Espacio entre los enlaces y el switch */
    }
}

/* Media Query para pantallas muy pequeñas (teléfonos) */
@media (max-width: 480px) {
    header .nav-links {
        gap: 0.8rem; /* Reduce aún más el espacio entre enlaces */
    }

    header .nav-links a {
        font-size: 1rem; /* Ajuste en el tamaño del texto */
    }

    header .theme-toggle {
        top: 0.5rem;
        right: 0.5rem; /* Ajusta la distancia para pantallas más pequeñas */
    }
}

@media (max-width: 600px) {
    header .nav-links a {
        font-size: 1.2rem; /* Más pequeño en pantallas muy pequeñas */
        margin: 0 0.5rem; /* Menos espacio entre enlaces */
    }
}


@media(max-width:995px){
    nav{
        header {
            display: flex; /* Asegúrate de que esté visible */
            background-color: transparent; /* O el color que prefieras */
            position: fixed; /* Asegúrate de que esté fijo */
            top: 0;
            left: 0;
            right: 0; /* Asegúrate de que ocupe todo el ancho */
            z-index: 100; /* Para que esté por encima de otros elementos */
        }
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #BE0000; /* Cambiado a azul */
        border-bottom: 3px solid #BE0000; /* Cambiado a azul */
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #BE0000; /* Cambiado a azul */
    }
}

section {
    min-height: 90vh; /* Asegura que cada sección ocupe al menos toda la altura de la ventana */
    padding: 2rem 9%; /* Añade un poco de espacio interno */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

header {
    margin-top: 0; /* Elimina el margen superior para que no se superponga con el contenido */
}



.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
    
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #BE0000; /* Cambiado a azul */
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
    
 
    
   
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #BE0000; /* Cambiado a azul */
    cursor:crosshair;
    transition: 0.2s linear;
    
    
    
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    transform: scale(1.05); /* Efecto de hover */
    
}


.social-icons {
    display: flex; /* Usar flexbox para alinear en fila */
    flex-wrap: nowrap; /* Evitar que los iconos se envuelvan en otra fila */
    justify-content: center; /* Centrar los iconos en el contenedor */
    margin: 20px 0; /* Margen para el contenedor, si es necesario */
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem; /* Tamaño del círculo */
    height: 6rem; /* Tamaño del círculo */
    background-color: transparent;
    border: 0.2rem solid #BE0000;
    font-size: 2rem; /* Tamaño del icono */
    border-radius: 50%;
    margin: 0 0.5rem; /* Ajustar margen para evitar interferencia */
    transition: 0.3s ease;
    color: #db3333;
    position: relative;
    text-decoration: none;
    pointer-events: auto; /* Asegurarse de que el texto sea clickeable */
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #BE0000;
    box-shadow: 0 0 25px #BE0000;
}

/* Ocultar texto por defecto */
.social-icons span {
    display: none; /* Ocultar texto por defecto */
    margin-left: 10px; /* Añade espacio entre el icono y el texto */
    font-size: 1rem; /* Tamaño del texto reducido para que quepa en el círculo */
    color: white; /* Cambia el color del texto según prefieras */
    white-space: nowrap; /* Evitar que el texto se corte en varias líneas */
}

/* Mostrar texto solo al hacer hover sobre el icono */
.social-icons a:hover span {
    display: inline-block;
    transform: scale(1.1);
}

/* Tamaño de iconos */
.social-icons i {
    font-size: 2.4rem; /* Aumentar tamaño del icono */
}

/* Ajustar el z-index para que el texto no interfiera con otros iconos */
.social-icons span {
    position: relative;
    z-index: 1; /* Asegurarse de que el texto esté por encima del fondo */
}

.music-player {
    margin-top: 20px; /* Espaciado superior */
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-player iframe {
    width: 330px;
    height: 80px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.music-player iframe:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #BE0000;
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #BE0000; /* Cambiado a azul */
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #BE0000; /* Cambiado a azul */
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #be4242; /* Cambiado a azul */
    color: black;
    box-shadow: 0 0 25px #b55e5e; /* Cambiado a azul */
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    line-height: 1.2; /* Aumentar ligeramente el line-height */
}
.typing-text {
    line-height: 1; /* Ajusta según sea necesario */
}


.typing-text span{
    position: relative;
     display: inline-block;
}

.typing-text span::before{
    content: "Desarrollador VR";
    color: #BE0000; /* Cambiado a azul */
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute; /* Cambiado a absolute para que el cursor se posicione en relación al span */
    width: 3px; /* Ajusta el ancho del cursor para que se vea mejor */
    height: 100%;
    border-left: 3px solid black;
    right: 1; /* Cambiado a 0 para que el cursor esté al final del texto */
    animation: cursor 0.6s infinite;
    top: 0; /* Asegura que esté alineado en la parte superior del texto */
}

.projects {
    padding: 5rem 9%;
    background-color: #000000; /* Cambia el fondo de la sección */
    color: #666;
}

.projects h2 {
    font-size: 4rem;
    text-align: center; /* Centra el texto */
    margin-bottom: 3rem;
    display: flex; /* Usar flexbox para alinear el ícono y el texto */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.projects h2 i {
    margin-right: 1rem; /* Espacio entre el ícono y el texto */
    font-size: 3.5rem; /* Tamaño del ícono */
    color: #BE0000; /* Color azul para el ícono */
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ffffff1a; /* Fondo semi-transparente para los proyectos */
    transition: all 0.3s ease; /* Transición suave para el hover */
}

/* Efecto hover para los proyectos */
.project:hover {
    transform: scale(1.05); /* Escala al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para el efecto hover */
}

.project-info {
    flex: 1; /* Para que ocupe el espacio restante */
    margin-right: 2rem; /* Espacio entre la info y la imagen */
}

.project-info h3 {
    font-size: 2.5rem; /* Cambia el tamaño a 4rem para que coincida con Educación y Experiencia */
    color: #BE0000; /* Cambia el color a azul */
    margin-bottom: 1.6rem;
}
.project-info .description {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.project-info .technologies {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.preview-btn {
    display: inline-block;
    background: linear-gradient(90deg, #aa5d5d, #BE0000);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.preview-btn:hover {
    background: linear-gradient(90deg, #aa5d5d, #BE0000);
    transform: translateY(-5px);
}

.project-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    max-width: 100%;
    width: 35%;
    height: auto;
    border-radius: 1.2rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
    object-fit: contain;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Efecto hover para hacerla más interactiva */
.project-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .project {
        flex-direction: column;
        text-align: center;
    }

    .project-info {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .project-image img {
        width: 70%;
    }
}


.technologies img,
.technologies svg {
    width: 24px; /* Tamaño del ícono */
    height: 24px; /* Tamaño del ícono */
    margin-right: 5px; /* Espacio entre íconos */
    vertical-align: middle; /* Alineación vertical */
}





.education {
    padding: 5rem 9%;
    background-color: #000000;
    color: #666;
}

.education h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education h2 i {
    margin-right: 1rem;
    font-size: 3.5rem;
    color: #BE0000;
}

.education-item {
    margin: 2rem 0;
    padding: 2rem;
    background-color: #ffffff1a;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.education-item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-info h3 {
    font-size: 2.5rem; /* Asegúrate que el tamaño sea el mismo */
    color: #BE0000; /* Cambia el color a azul */
    margin-bottom: 1rem;
}


.education-info p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.experience h2 {
    font-size: 4rem; /* Tamaño de fuente */
    text-align: center; /* Alineación centrada */
    margin-bottom: 3rem; /* Espacio inferior */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.experience h2 i {
    margin-right: 1rem; /* Espacio a la derecha del ícono */
    font-size: 3.5rem; /* Tamaño del ícono */
    color: #BE0000; /* Color azul para el ícono */
}

.experience-item {
    margin: 2rem 0; /* Espacio entre los ítems de experiencia */
    display: flex; /* Usar flexbox para el contenido */
    flex-direction: column; /* Alinear los elementos en columna */
    align-items: flex-start; /* Alinear al inicio */
}

.experience-info h3 {
    font-size: 3rem; /* Tamaño de letra igual que en Proyectos */
    color: #BE0000; /* Color azul */
    margin-bottom: 0.5rem;
    font-weight: bold; /* Mantiene el texto en negrita */
}

.experience-info p {
    font-size: 1.6rem; /* Asegúrate que este tamaño sea igual en todas las secciones */
    margin-bottom: 0.5rem; /* Espacio entre párrafos */
}

.timeline {
    position: relative; /* Para posicionar los elementos en la línea del tiempo */
    padding: 1rem 0; /* Espacio alrededor de la línea del tiempo */
}

.timeline-item {
    position: relative; /* Para el posicionamiento del ícono */
    margin: 2rem 0; /* Espacio entre cada item */
    padding-left: 2rem; /* Espacio a la izquierda para el ícono */
}

.timeline-item::before {
    content: ""; /* Para crear la línea del tiempo */
    position: absolute; /* Posicionar la línea */
    left: 0; /* Colocar a la izquierda */
    top: 1.5rem; /* Alinear verticalmente */
    width: 4px; /* Ancho de la línea */
    height: 100%; /* Altura completa */
    background-color: #BE0000; /* Color de la línea */
}

.timeline-info {
    background: #ffffff1a; /* Fondo blanco para el texto */
    padding: 2rem; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.timeline-item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Poppins', sans-serif;
}

.timeline-item h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #BE0000;
    margin-bottom: 10px;
}

.timeline-item p {
    font-size: 1.6rem;
    color: #666;
}

.details-btn {
    display: inline-block;
    background: linear-gradient(90deg, #aa5d5d, #BE0000);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

.details-btn:hover {
    background: linear-gradient(90deg, #aa5d5d, #BE0000);
    transform: translateY(-5px);
}

.about-me {
    padding: 50px;
    background-color: #ffffff1a;
}

.about-me h2 {
    font-size: 4rem;
    color: #666;
    text-align: right ;
    margin-bottom: 20px;
}



.about-content p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #666;
}

#about-me {
    margin-bottom: 40px; /* Espacio entre la sección 'Sobre Mí' y 'Habilidades' */
}

.skills {
    text-align: center; /* Centrar el texto del encabezado */
}

.skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.skills li {
    margin: 10px; /* Espacio entre los íconos */
    padding: 10px 20px; /* Padding interno para los elementos */
    border: 1px solid #ccc; /* Borde para cada habilidad */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, opacity 2s ease-in-out; /* Efecto de transición para el hover y opacidad */
    opacity: 0; /* Ocultar habilidades inicialmente */
    transition: opacity 0.5s ease-in-out; /* Animación de opacidad */
}
.skills img {
    width: 60px; /* Cambiar el tamaño del ícono */
    height: 60px; /* Cambiar el tamaño del ícono */
}

.skills li.show {
    opacity: 1; /* Mostrar las habilidades cuando tienen la clase 'show' */
}

.skills li:hover {
    background-color: #f0f0f0; /* Cambiar el fondo al pasar el mouse */
}

/* Media query para pantallas más pequeñas (teléfonos móviles) */
@media (max-width: 768px) {
    .skills ul {
        justify-content: center; /* Asegura que los íconos se centren */
    }
    
    .skills img {
        width: 40px; /* Ajusta el tamaño de los íconos para pantallas más pequeñas */
        height: 40px;
    }

    .skills li {
        flex-basis: 30%; /* Ajusta para que los íconos se distribuyan en filas de 3 o 4 íconos según el tamaño */
        max-width: 100px; /* Limita el ancho de los íconos */
    }
}


/* Estilo base para pantallas grandes */
html {
    font-size: 62.5%; /* 1 rem = 10px */
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    html {
        font-size: 55%; /* Reduce el tamaño de fuente general */
    }

    header {
        padding: 1rem 5%; /* Reduce el padding del header */
    }

    .home-content h1 {
        font-size: 4rem; /* Reduce el tamaño del h1 */
    }

    .home-content h3 {
        font-size: 3rem; /* Reduce el tamaño del h3 */
    }

    .home-content p {
        font-size: 1.4rem; /* Reduce el tamaño del párrafo */
    }

    .home-img img {
        width: 80vw; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }

    .social-icons a {
        width: 4rem; /* Reduce el tamaño del icono */
        height: 4rem; /* Reduce el tamaño del icono */
        font-size: 1.6rem; /* Tamaño del icono */
    }

    .projects h2,
    .education h2,
    .experience h2 {
        font-size: 3rem; /* Reduce el tamaño de los títulos de sección */
    }

    .project-info h3 {
        font-size: 2rem; /* Reduce el tamaño del título de proyecto */
    }

    .project-info .description,
    .project-info .technologies {
        font-size: 1.4rem; /* Reduce el tamaño de la descripción */
    }

    .btn {
        font-size: 1.4rem; /* Reduce el tamaño del botón */
    }

    .timeline-item {
        margin: 1.5rem 0; /* Reduce el espacio entre items en la línea del tiempo */
    }

    .experience-info h3 {
        font-size: 2rem; /* Reduce el tamaño del título de experiencia */
    }

    .experience-info p {
        font-size: 1.4rem; /* Reduce el tamaño de la información */
    }
}

/* Para pantallas extra pequeñas */
@media (max-width: 480px) {
    header {
        padding: 1rem 2%; /* Reduce el padding del header aún más */
    }

    .home-content h1 {
        font-size: 3.5rem; /* Ajusta el tamaño del h1 */
    }

    .home-content h3 {
        font-size: 2.5rem; /* Ajusta el tamaño del h3 */
    }

    .home-content p {
        font-size: 1.2rem; /* Ajusta el tamaño del párrafo */
    }

    .home-img img {
        width: 90vw; /* Ajusta el tamaño de la imagen para pantallas muy pequeñas */
    }

    .projects h2,
    .education h2,
    .experience h2 {
        font-size: 2.5rem; /* Ajusta el tamaño de los títulos de sección */
    }

    .project-info h3 {
        font-size: 1.8rem; /* Ajusta el tamaño del título de proyecto */
    }

    .project-info .description,
    .project-info .technologies {
        font-size: 1.2rem; /* Ajusta el tamaño de la descripción */
    }

    .btn {
        padding: 0.8rem 1.5rem; /* Reduce el tamaño del botón */
        font-size: 1.2rem; /* Ajusta el tamaño del botón */
    }
}


/* Estilos para el modal */
/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease; /* Transición para el fondo */
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #0d0d0d; /* Fondo oscuro por defecto */
    color: #e0e0e0; /* Color del texto por defecto */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    transition: all 0.3s ease; /* Transición suave */
}

/* Estilos del título */
.modal-content h2 {
    font-family: Arial, sans-serif;
    color: #BE0000; /* Color del título */
}

/* Estilos para la imagen dentro del modelo */
model-viewer {
    background: #333;
    border-radius: 8px;
}

/* Modal */
.modal-content {
    background-color: #0d0d0d;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative; /* Agregar position relative para que el botón de cierre esté dentro de este contenedor */
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

/* Botón de cierre */
.close {
    color: #e0e0e0;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute; /* Asegura que el botón se posicione respecto al contenedor modal-content */
    top: 10px;  /* Ajuste desde la parte superior */
    right: 10px; /* Ajuste desde el borde derecho */
    cursor: pointer;
    z-index: 10;
}

/* Hover sobre el botón de cierre */
.close:hover,
.close:focus {
    color: #da9696;
}



/* Modo claro: Cambia el fondo y texto */
body.light-mode .modal-content {
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto oscuro */
}

body.light-mode .modal-content h2 {
    color: #BE0000; /* Título en azul en modo claro */
}

body.light-mode .modal-content p {
    color: #333; /* Texto oscuro */
}

body.light-mode .close {
    color: #333; /* Botón de cierre en color oscuro */
}

body.light-mode .modal {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo más claro para el modal */
}

/* Modo claro */
body.light-mode .modal-content {
    background-color: #fff; /* Fondo blanco para modo claro */
    color: #333; /* Texto oscuro */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

/* Imágenes dentro del modal */
.modal-content img {
    max-width: 100%; /* La imagen no debe exceder el ancho del modal */
    height: auto; /* Mantener proporción de la imagen */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}

/* Estilos para el texto en el modal */
.modal-content p {
    font-size: 1.6rem; /* Ajustar tamaño del texto */
    color: #f5f6f8; /* Color de texto en modo oscuro */
    margin-top: 1rem;
}

/* Modo claro para el texto */
body.light-mode .modal-content p {
    color: #333; /* Texto oscuro en modo claro */
}

/* Estilo para el botón de cierre (X) */
.close {
    color: #BE0000;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

/* Efecto al pasar el ratón sobre el botón de cierre */
.close:hover,
.close:focus {
    color: black;
}

/* Modo claro para el botón de cierre */
body.light-mode .close {
    color: #333; /* Color oscuro para el botón de cierre en modo claro */
}
/* Animación para el modal */
@keyframes modalFadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.modal-content {
    animation: modalFadeIn 0.5s;
}





@keyframes cursor{
    to{
        border-left: 3px solid #BE0000; /* Cambiado a azul */
    }
}

@keyframes words{
    21%, 40%{
        content: "Desarrollador Web";
    }
    21%, 40%{
        content: " Desarrollador VR";
    }
   
    
    41%, 60%{
        content: "Escritor de código";
    }
    21%, 40%{
        content: "Innovador";
    }
    
    21%, 40%{
        content: "Explorador Digital";
    }

    
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
/* Home */
body.light-mode .home {
    background-color: white;
    color: #333;
}
body.light-mode {
    background-color: white;
    color: #333;
}
/* Boton */
body.light-mode .btn {
    background-color: white;
    color: #4b7bb7;
    border-color: #4b7bb7;
}

body.light-mode .btn:hover {
    background-color: #4b7bb7;
    color: white;
}

/* Proyectos */
body.light-mode .projects {
    background-color: white;
    color: #333;
}

body.light-mode .projects .project {
    background-color: #f5f5f5;
    
    
    padding: 20px;
    margin-bottom: 10px; /* Espacio entre proyectos */
}

body.light-mode .projects .project:hover {
    background-color: #e6f0ff;
    border-color: #b46f6f;
}

/* Educación */
body.light-mode .education {
    background-color: white;
    color: #333;
}

body.light-mode .education .education-item {
    background-color: #f5f5f5;
    border-color: #ddd;
}

body.light-mode .education .education-item:hover {
    background-color: #e6f0ff;
    border-color: #BE0000;
}
/* Navbar */
body.light-mode nav {
    background-color: white;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.light-mode nav a {
    color: #BE0000;
}

body.light-mode nav a:hover {
    color: #333;
}

/* Experiencia */
body.light-mode .experience {
    background-color: white;
    color: #333;
}

body.light-mode .experience .timeline-item {
    background-color: #f5f5f5;
    padding: 0;
    margin-bottom: 10px; /* Espacio entre experiencias */
    border-radius: 10px  ;
    
}

body.light-mode .experience .timeline-item:hover {
    background-color: #e6f0ff;
    border-color: #BE0000;
}


/* Estilos generales para el footer */
footer {
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    border-top: 3px solid #BE0000;
}
/* From Uiverse.io by 3bdel3ziz-T */ 
/* The switch container */
.switch {
    --transition: 300ms;
    --transition500: 500ms;
    --color-dark: #0c0f14;
    --color-darkGray: #21262e;
    --color-gray: #52555a;
    --color-offwhite: #cecece;
    --shadow-color: var(--color-dark);
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: fit-content;
    background-color: var(--color-dark);
    border-radius: 30px;
    padding: 4px;
    transition: var(--transition500);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transform: scale(0.8);
  }
  
  /* Svg styles */
  .switch .svg {
    transition: var(--transition);
    position: absolute;
    left: 5px;
  }
  .switch .moon {
    width: 18px;
    fill: var(--color-gray);
    opacity: 1;
  }
  
  .switch .sun {
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(100% - 21.5px);
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
    opacity: 0;
  }
  
  .switch .sun .dot {
    positon: relative;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--color-dark);
    background: white;
    z-index: 1;
    box-shadow: 11px 0px 0px var(--shadow-color),
      10.3px 0px 0px var(--shadow-color), -11px 0px 0px var(--shadow-color),
      -10.3px 0px 0px var(--shadow-color), 0px -11px 0px var(--shadow-color),
      0px -10.3px 0px var(--shadow-color), 0px 11px 0px var(--shadow-color),
      0px 10.3px 0px var(--shadow-color), 8px 8px 0px var(--shadow-color),
      7.3px 7.3px 0px var(--shadow-color), 8px -8px 0px var(--shadow-color),
      7.3px -7.3px 0px var(--shadow-color), -8px -8px 0px var(--shadow-color),
      -7.3px -7.3px 0px var(--shadow-color), -8px 8px 0px var(--shadow-color),
      -7.3px 7.3px 0px var(--shadow-color);
  }
  
  .switch .sun .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--color-dark);
  }
  
  /*checkbox styles */
  .switch .circle {
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: 0;
    background-color: var(--color-darkGray);
    border: 1px solid var(--color-darkGray);
    transition: var(--transition500);
    box-shadow: 1px 1px 20px 3px var(--color-darkGray);
  }
  
  .switch:has(.circle:checked) {
    background: var(--color-offwhite);
  }
  
  .switch .circle:hover {
    margin-left: 3px;
  }
  .switch .circle:checked:hover {
    margin-left: -3px;
  }
  
  .switch .circle:checked {
    left: calc(100% - 24px);
    background: white;
    border-color: white;
    box-shadow: 1px 1px 30px 12px white;
  }
  
  .switch:has(.circle:checked) > .sun {
    opacity: 1;
  }
  
  .switch:has(.circle:checked) > .moon {
    opacity: 0;
  }
  